@model WebAPI.Models.Domain.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_human)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_human)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_patient_zero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_patient_zero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.biteCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.biteCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
